*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}
header{
	width: 100%;
	height: 100vh;
	background-image: url('../images/bg.png');
	background-repeat: none;
	background-size: 100% 100%;
}
.mainheader{  
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainheader .logo img{
	
	width: 220px;
	height: 80px;
	padding-left: 60px;
	padding-right: 20px;
	position: relative;
	left: -180px;
}
.mainheader nav{
	width: 450px;
	display: flex;
	justify-content:space-around;
	align-items: center;
	position: relative;
	left: -60px;
}
.mainheader nav a{
	text-decoration: none;
	color: black;
	text-transform:uppercase; 
}
.mainheader button{
	padding: 10px 45px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border:none;
	background-image: linear-gradient(to right,#640bff,#0070fa,#649bff);
	border-radius: 10px;
	margin-left: 50px;
}
.menubtn{
	padding-right: 40px;
	padding-left: 40px;
}
main{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;}
	main .right img{
		width: 720px;
		height: 720px;
		
	}
	main .right{
		padding-right: 10px;
		padding-left: 50px;
	}
	main .left{
		    padding-right: 23px;
    padding-left: 50px;
	}
	.left h2{
		font-size: 30px;
		text-transform: capitalize;
		font-weight: lighter;
		color: #242424;
		margin-top: 150px;
	}
	.left h1{
		font-size: 55px;
		text-transform: capitalize;
		font-weight: 700px;
		margin: 15px 0px;
	}
	.left p{
		margin-bottom: 20px;
	}
	.left button{
		padding: 10px 45px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border:none;
	background-image: linear-gradient(to right,#640bff,#0070fa,#649bff);
	border-radius: 10px;
	}
@media (max-width: 768px)
	{
		.mainheader
		{
	
	display: inline-grid;
	}
	main .right img {
        width: 470px;
    height: 402px;
    padding-right: 196px;
    padding-top: 105px }
    .left h2 {
    font-size: 23px; }
    .left h1 {
    white-space: pre;
    display: inline-block;}
    main .left {
    padding-right: 0px;
    padding-left: 198px;}
}